<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Form Article</h1>
        <form id="form">
            <div class="form-group">
                <label>Category</label>
                <select id="categoryId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label>Body</label>
                <textarea id="body" rows="4" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Approved</label>
                <input type="checkbox" value="1" id="approved">
            </div>
            <button type="submit" id="save" class="btn btn-primary">Save</button>
            <a href="/" class="btn btn-secondary">Back</a>
        </form>
    </div>

    <script>
        let id = '<%= id %>'
        let method = id === '' ? 'POST' : 'PUT'
        let titleInput = document.getElementById("title")
        let bodyInput = document.getElementById("body")
        let approvedInput = document.getElementById("approved")
        let categoryInput = document.getElementById("categoryId")

        let form = document.getElementById("form")
        form.onsubmit = function(e) {
            e.preventDefault()
            let title = titleInput.value
            let body = bodyInput.value
            let categoryId = categoryInput.value
            let approved = approvedInput.checked

            fetch(`/api/v1/articles/${id}`, {
                method: method,
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    title: title,
                    body: body,
                    categoryId: categoryId,
                    approved: approved,
                })
            }).then(() => {
                window.location.href = "/"
            })
        }

        fetch(`/api/v1/categories`)
        .then(raw => raw.json())
        .then(data => {
            for (let i in data) {
                let category = data[i]
                categoryInput.innerHTML += `<option value="${category.id}">${category.name}</option>`
            }

            if (id !== '') {
                fetch(`/api/v1/articles/${id}`)
                .then(raw => raw.json())
                .then(data => {
                    console.log(data)
                    titleInput.value = data.title
                    bodyInput.value = data.body
                    categoryInput.value = data.categoryId
                    approvedInput.checked = data.approved
                })
            }
        })
    </script>
</body>
</html>