<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <a href="/articles/form" class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
                <th>Category</th>
                <th>Approved</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>

    <script>
        fetch("/api/v1/articles", {
            method: "GET"
        }).then(res => res.json())
        .then(data => {
            let body = document.getElementById("body")
            for (let i in data) {
                let article = data[i]
                body.innerHTML += `<tr>
                    <td>${article.id}</td>    
                    <td>${article.title}</td>    
                    <td>${article.body}</td>    
                    <td>${article.category?.name}</td>    
                    <td>${article.approved ? 'Published': "Draft"}</td>  
                    <td>
                        <a href="/articles/form/${article.id}">Edit</a>
                        <a href="/articles/${article.id}">View</a>
                        <a href="/api/v1/articles/${article.id}" class="delete">Delete</a>
                    </td>  
                </tr>`
            }
        })

        document.body.addEventListener('click', (e) => {
            if (e.target.classList.contains("delete")) {
                e.preventDefault()
                fetch(e.target.href, {
                    method: "DELETE"
                }).then(() => {
                    window.location.reload()
                })
            }
        })
    </script>
</body>
</html>